[Desktop Entry]
Nom=Ramed-Desktop
Comment=Open broser with ramed-collect
Exec=/home/sldses/.envs/hamed-desktop/main.py
Icon=/home/sldses/.envs/hamed-desktop/img/logo.png
Terminal=false
Type=Application