[Desktop Entry]
Name=RAMEDCollect
Comment=Collectes de données RAMED
Exec=/home/sldses/.envs/rdesktop/bin/python /home/sldses/.envs/hamed-desktop/main.py
Icon=/home/sldses/.envs/hamed-desktop/img/logo.png
Terminal=false
Type=Application